<footer style="clear:both;">
	<div class="navbar">
		<div class="raw text-center footer-bar">
			<img class="footer-logo" style="width:100px" src="{{resourcePath}}footer.png">
				Copyright (c) 2013 - WSO2 Mobile .Inc 
		</div>
	</div>
</footer>